---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <Header />
  </head>
  <body>
    <slot />
    <footer>
      <Footer />
    </footer>
  </body>
</html>
