# Astro
node_modules
.astro
dist
.env
.astro
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
tfplan
*.tfplan
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.out

